/* Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #555;
  color: #fff;
  padding: 8px 5%;

  .logo {
      display: flex;
      align-items: center;
      overflow: hidden;
      img {
          width: 50px;
          margin-right: 15px;
          border-radius: 10px;
      }

      h3 {
          font-weight: 400;
      }
  } */

.logo {
  width: 80px;
  margin-right: 15px;
  border-radius: 10px;
}

/* div.image {
    background-image: url('/images/hero_image.png');
        background-size: cover;
        min-height: 400px;
        min-width: 50%;
  } */

.img {
  background-image: linear-gradient(rgba(41, 41, 41, 0.6), rgba(0, 0, 0, 0.6)), url('/images/hero_image.png');
  background-size: cover;
  min-height: 800px;
  min-width: 50%;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;

  h1 {
    font-size: 4rem;
  }

  p {
    font-weight: 300;
  }
}

nav {
  a {
    color: #fff;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }
}

nav .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav .navbar-nav.ms-auto {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 5%;
  background: #e0e0e0;
  color: black;
}

footer * {
  margin: 0;
  padding: 0; 
  line-height: 1.5;
}

section {
  background-image: linear-gradient(rgba(41, 41, 41, 0.6), rgba(0, 0, 0, 0.6)), url('/images/hero_image.png');
  margin-bottom: 50px;
  background-size: cover;
  min-height: 800px;
  min-width: 50%;
  margin-top: 5px;
}
div.AutoForm {
  color: black;
  
}
/* } */