html,body,#root {
  height: 100%;
}

/* Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #555;
  color: #fff;
  padding: 8px 5%;

  .logo {
      display: flex;
      align-items: center;
      overflow: hidden;
      img {
          width: 50px;
          margin-right: 15px;
          border-radius: 10px;
      }

      h3 {
          font-weight: 400;
      }
  } */

.logo {
  width: 70px;
  margin-right: 15px;
  border-radius: 10px;
}

/* div.image {
    background-image: url('/images/hero_image.png');
        background-size: cover;
        min-height: 400px;
        min-width: 50%;
  } */

.hero {
  background-image: linear-gradient(rgba(41, 41, 41, 0.6), rgba(0, 0, 0, 0.6)), url('/images/hero_image.png');
  background-size: cover;
  min-height: 90vh;
}

.hero-text {
  text-align: center;
  color: #fff;
  min-width: 50%;
  position: relative;
  top: -135px;

  h1 {
    font-size: 4rem;
  }

  p {
    font-weight: 300;
  }
}

.nav-height {
  height: 40px;
}

.aboutimg {
  background-image: linear-gradient(rgba(184, 184, 184, 0.6), rgba(0, 0, 0, 0.6)), url('/images/about_image.png');
  background-size: cover;
  min-height:90vh;
}
.about-text {
  padding: 40px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-text h1 {
  font-size: 4rem;
}
.about-text p {
  font-weight: 300;
}

.recipe-bookimg {
  background-image: linear-gradient(rgba(41, 41, 41, 0.6), rgba(0, 0, 0, 0.6)), url('/images/recipe_book_image.png');
  background-size: cover;
  min-height: 90vh;
}

nav {
  a {
    color: #fff;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:hover,
    &.active {
      text-decoration: underline;
    }
  }
}

nav .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav .navbar-nav.ms-auto {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 5%;
  background: #e0e0e0;
  color: black;
}

footer * {
  margin: 0;
  padding: 0; 
  line-height: 1.5;
}
section {
  background-image: linear-gradient(rgba(41, 41, 41, 0.6), rgba(0, 0, 0, 0.6)), url('https://fal.media/files/tiger/oTtBmzuEwByUPUFbvq47P.png');
  /* margin-bottom: 50px; */
  background-size: cover;
  /* min-width: 50%;
  margin-top: 5px; */
  min-height: 85vh;
  
;
}

div.AutoForm {
  color: #fff;
}
.auth-box {
  padding: 1.5rem;
  border: 1px solid rgba(221, 221, 221, 0.6);
  border-radius: 8px;
  margin-bottom: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  
}
.auth-box input::placeholder {
  color: rgba(0, 0, 0, 0.6); 
  font-weight: bold;
}


.auth-box input {
  color: #333; 
  font-weight: bold; 
  
}



/* } */